body {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
        font-family:"Times New Roman",Times, serif;
}
A:link {text-decoration:none ; color:blue}
A:visited {text-decoration:none ;  color:blue}
A:hover {text-decoration:underline ; color:red}
