# Copyright (C) 2001-2003 All right reserved by Shinya Kondo ( CGI KON )

# 完了画面の表示

print "Content-type: text/html\n\n";
print qq!
<HTML>
<HEAD>
	<TITLE>加古宜士先生、古希お祝い会参加申し込み</TITLE>
	<META Http-Equiv="Content-Type" Content="text/html;charset=EUC-JP">
</HEAD>
<BODY>
<CENTER>
<TABLE BORDER="0" BGCOLOR="#EEEEEE" CELLPADDING="20" WIDTH="60%">
	<TR>
		<TD ALIGN="center">
			<FONT SIZE="4"><B>加古宜士先生、古希お祝い会参加申し込み</B></FONT>
		</TD>
	</TR>
	<TR>
		<TD ALIGN="center">
			<P>
			<FONT COLOR="#0000FF">$info</FONT>
			<FONT COLOR="#FF0000">$error</FONT>
		</TD>
	</TR>
</TABLE>
			<P>
			<FONT SIZE=2><I>Copyright (C) 2001-2003 All right reserved by <A HREF="http://cgikon.com">CGI KON</A>
</I></FONT>

</CENTER>
</BODY>
</HTML>
!;

# Copyright (C) 2001-2003 All right reserved by Shinya Kondo ( CGI KON )
